/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

label, select, textarea, input {
    display: block;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}